.title-page {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust spacing between the icon and the text */
}

.title-page h2 {
    margin-bottom: 0; 
}

.search-container {
    margin-bottom: 1rem;
}

.filter-container {
    margin-bottom: 2rem;
}

.table-card {
    border: 1px solid #707070;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 20px;
}

.table th,
.table td {
  padding: 1rem;
  vertical-align: middle;
  border-bottom: 1px solid #707070;
}

.btn-primary {
    border: none;
    background-color: #4EA5EF;
    color: white;
}
.btn-primary:hover {
    background-color: #3d95e2;
    color: white;
    border: none;
}

.page-link {
    border: 1px solid #cccccc;
}
.page-item .page-link {
    color: #008080;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #008080;
    border-color: #008080;
}


/* Styling for modal */
.modal {
    display: none;
}
.modal-content {
    padding: 15px;
}
.form-label {
    font-weight: bold;
}
.form-control {
    border-color: #000000;
}
.row {
    display: flex;
    align-items: stretch; /* Ensures columns and dividing line stretch to match tallest content */
}
.col-md-6:not(:last-child) {
    border-right: 1px solid #707070; /* Vertical line between columns */
    padding-right: 30px;
}
.col-md-6:last-child {
    padding-left: 30px;
}
.auto-resize {
    resize: none; /* Prevent manual resizing */
    overflow: hidden; /* Hide overflow content */
}


#drop-area {
    width: 100%;  
    max-width: 500px;
    height: 300px;
    text-align: center;
    border-radius: 20px;
    border: 2px dashed #000000;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#img-view {
    width: 90%; 
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    
}
#img-view svg {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    color: #7F7F7F;
}
#img-name {
    font-size: 16px;
    color: #bbb;
    text-align: center;
}
#input-file:focus + #img-view {
    border: 2px dashed #000000;
}

/* For image preview */
#img-view img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fills the area */
}
